# R

[Read how to get R installed in a conda environment.](https://www.continuum.io/blog/developer/jupyter-and-conda-r)

Before doing anything else, let's take a quick look at the general method...

In [38]:
# Using inverse...
A <- matrix(c(1,2,3,4), ncol=2)
A

     [,1] [,2]
[1,]    1    3
[2,]    2    4

In [40]:
b <- c(7, 10)
b

[1]  7 10

In [42]:
x <- solve(A)%*%b
x

     [,1]
[1,]    1
[2,]    2

In [44]:
# Or...
solve(A, b)

[1] 1 2

In [43]:
A %*% x - b

     [,1]
[1,]    0
[2,]    0

## Another example

http://www.r-bloggers.com/dont-invert-that-matrix-why-and-how/